
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: white;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Monospace;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Montreal';
    line-height: 24px;
}

@font-face {
    font-family: Gosha;
    src: url("gosha.otf") format("opentype");
}

@font-face {
    font-family: Montreal;
    src: url("montreal.otf") format("opentype");
}

h1{
    font-size: 48px;
    margin-bottom: 32px;
    font-family: 'Gosha';
}

.flex{
    display: flex;
    width: 70%;
}

#flex-1{
    margin-right: 64px;
    width: 40%;
}

#flex-2{
    width: 40%;
}

p{
    margin-bottom: 32px;
}

canvas{
    position:absolute;
    top: 0vw;
    left: 0vw;
    z-index: -99999;
}


.content-container{
    position: absolute;
    bottom: 5vh;
    left: 10vh;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'Gosha';
}


/* 
 ██████╗ ██████╗ ██╗      ██████╗ ██╗   ██╗██████╗ ███████╗
██╔════╝██╔═══██╗██║     ██╔═══██╗██║   ██║██╔══██╗██╔════╝
██║     ██║   ██║██║     ██║   ██║██║   ██║██████╔╝███████╗
██║     ██║   ██║██║     ██║   ██║██║   ██║██╔══██╗╚════██║
╚██████╗╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║  ██║███████║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                                           
*/

.smallcaseColor{
 color: white;   
}

.smallcaseBackgroundColor{
    background-color: white;
}

.prophecyColor{
    color: white;   
   }
   
.prophecyBackgroundColor{
    background-color: #FF725C;
}


.CIIDColor{
    color: white;   
   }
   
.CIIDBackgroundColor{
    background-color: white;
}

.yoguideColor{
    color: white;   
   }
   
.yoguideackgroundColor{
    background-color: white;
}
   
.LEGOVenturesColor{
    color: white;   
   }
   
.LEGOVenturesBackgroundColor{
    background-color: white;
}

.LuminovoColor{
    color: white;   
   }
   
.LuminovoBackgroundColor{
    background-color: white;
}
   
.HeyoColor{
    color: white;   
   }
   
.HeyoBackgroundColor{
    background-color: white;
}

.moooodifyColor{
    color: white;   
}
   
.moooodifyBackgroundColor{
    background-color: white;
}

.figmaColor{
    color: white;   
}

.figmaBackgroundColor{
    background-color: white;
}
   
.mediumColor{
    color: white;   
}
   
.mediumBackgroundColor{
    color: white;   
}