#gradient-1{
    background: radial-gradient(circle, rgba(117,56,248,1) 0%, rgba(255,84,81,0.5) 80%);
    /* background-image: url( '/assets/purple-gradient.svg' ); */
    border-radius: 50%;
    position: absolute;
    height: 50vw;
    width: 50vw;
    bottom: -20vw;
    right: -10vw;
    opacity: 0;

    -webkit-filter: blur(64px);
    -moz-filter: blur(64px);
    -o-filter: blur(64px);
    -ms-filter: blur(64px);
    filter: blur(64px);

    z-index: -9999;
}


#gradient-2{
    background: radial-gradient(circle, rgba(244,56,248,1) 0%, rgba(255,84,81,0.22) 80%);
    /* background-image: url( '/assets/purple-gradient.svg' ); */
    border-radius: 50%;
    position: absolute;
    height: 50vw;
    width: 50vw;
    bottom: -40vw;
    right: -5vw;
    opacity: 0;

    -webkit-filter: blur(64px);
    -moz-filter: blur(64px);
    -o-filter: blur(64px);
    -ms-filter: blur(64px);
    filter: blur(64px);

    z-index: -9999;
}

@keyframes gradientIn {
    0% {
        opacity: 0;
    }
 
 
    100% {
        opacity: 0.3;
    }
}


